<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AannamelijstOnderdeelId</key>
		<string></string>
		<key>AfdelingId</key>
		<integer>0</integer>
		<key>AldocModel</key>
		<string>-</string>
		<key>AldocType</key>
		<string>-</string>
		<key>Artikelnummers</key>
		<array/>
		<key>Bijzonderheid</key>
		<string>-</string>
		<key>Bijzonderheid2</key>
		<string>-</string>
		<key>BijzonderheidInternet</key>
		<string>-</string>
		<key>Bouwjaar</key>
		<integer>0</integer>
		<key>Bouwmaand</key>
		<string></string>
		<key>ClassificatieCode</key>
		<string>-</string>
		<key>DeelId</key>
		<integer>0</integer>
		<key>DuplicaatId</key>
		<integer>0</integer>
		<key>EigenOmschrijving</key>
		<string>-</string>
		<key>FotosInfo</key>
		<array/>
		<key>GarantieMaanden</key>
		<integer>0</integer>
		<key>GarantieToelichting</key>
		<string>-</string>
		<key>HerkomstLandId</key>
		<string>-</string>
		<key>InkoopPartijId</key>
		<string>-</string>
		<key>InkoopPrijs</key>
		<string>-</string>
		<key>InternetPrijsMP</key>
		<string>-</string>
		<key>InternetPrijsOOL</key>
		<string>-</string>
		<key>InternetPrijsTonenOOL</key>
		<false/>
		<key>InvoerDatumTijd</key>
		<string></string>
		<key>InvoerMedewerker</key>
		<string></string>
		<key>Locatie</key>
		<string>-</string>
		<key>MCode</key>
		<string>-</string>
		<key>MCodeOpmerking</key>
		<string>-</string>
		<key>MerkId</key>
		<integer>0</integer>
		<key>ModelId</key>
		<integer>0</integer>
		<key>OnderdeelId</key>
		<integer>0</integer>
		<key>OnderdeelScore</key>
		<integer>0</integer>
		<key>Prijs</key>
		<integer>0</integer>
		<key>PrullenbakDatumTijd</key>
		<string>-</string>
		<key>PrullenbakMedewerker</key>
		<string>-</string>
		<key>PrullenbakReden</key>
		<string>-</string>
		<key>Staat</key>
		<string>-</string>
		<key>Statiegeld</key>
		<string>-</string>
		<key>TestStatusId</key>
		<string>-</string>
		<key>TestToelichting</key>
		<string>-</string>
		<key>VBCode</key>
		<string>-</string>
		<key>Velden</key>
		<array/>
		<key>VoertuigId</key>
		<integer>0</integer>
		<key>VoorraadOnderdeelMaxAantal</key>
		<string>0</string>
		<key>YoutubeId</key>
		<string>-</string>
		<key>internetOol</key>
		<false/>
		<key>isAanAuto</key>
		<false/>
		<key>isBTWVerkoop</key>
		<false/>
		<key>isInVoorraad</key>
		<false/>
		<key>isOrder</key>
		<false/>
		<key>isPrullenbak</key>
		<false/>
		<key>isVerkocht</key>
		<false/>
		<key>isVermist</key>
		<false/>
		<key>isVoorraadOnderdeel</key>
		<false/>
		<key>isVoorraadOnderdeelOrgineelId</key>
		<string></string>
	</dict>
</array>
</plist>
