<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>System Adminstrator</string>
	<string>Mark</string>
	<string>Jeroen</string>
	<string>Brian</string>
	<string>Freek</string>
	<string>Hans Reterink</string>
	<string>Jigsaw</string>
	<string>Jeroen Drenth</string>
	<string>Kitty Kleine Staarman</string>
	<string>Jacqueline</string>
	<string>Bjorn v.d. Berg</string>
	<string>Dennis Samsen</string>
	<string>DEMONTEUR</string>
	<string>Balie</string>
	<string>Zinger Tower</string>
	<string>Big Tasty</string>
	<string>Mac Chicken</string>
	<string>Captain Iglo</string>
	<string>andre2</string>
	<string>jeffrey</string>
	<string>Alexander Geleijns</string>
</array>
</plist>
