<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>H4</string>
		<key>Waarde_Afhankelijk</key>
		<string>H</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>H5</string>
		<key>Waarde_Afhankelijk</key>
		<string>H</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>H6</string>
		<key>Waarde_Afhankelijk</key>
		<string>H</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>H7</string>
		<key>Waarde_Afhankelijk</key>
		<string>H</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T0</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T0</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T0</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T10</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T10</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T10</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T11</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T11</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T11</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T12</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T12</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T12</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T3</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T3</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T3</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T4</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T4</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T4</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T5</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T5</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T5</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T6</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T6</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T6</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T7</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T7</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T7</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T8</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T8</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T8</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T9</string>
		<key>Waarde_Afhankelijk</key>
		<string>A</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T9</string>
		<key>Waarde_Afhankelijk</key>
		<string>D</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>231</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>230</integer>
		<key>Waarde</key>
		<string>T9</string>
		<key>Waarde_Afhankelijk</key>
		<string>S</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L1H1</string>
		<key>Waarde_Afhankelijk</key>
		<string>6</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L1H1</string>
		<key>Waarde_Afhankelijk</key>
		<string>7</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L1H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>6</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L1H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>7</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L2H1</string>
		<key>Waarde_Afhankelijk</key>
		<string>6</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L2H1</string>
		<key>Waarde_Afhankelijk</key>
		<string>7</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L2H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>6</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L2H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>7</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L3H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>6</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L3H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>7</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L3H3</string>
		<key>Waarde_Afhankelijk</key>
		<string>6</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L3H3</string>
		<key>Waarde_Afhankelijk</key>
		<string>7</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L4H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>6</string>
	</dict>
	<dict>
		<key>VeldId</key>
		<integer>232</integer>
		<key>VeldId_Afhankelijk</key>
		<integer>23</integer>
		<key>Waarde</key>
		<string>L4H2</string>
		<key>Waarde_Afhankelijk</key>
		<string>7</string>
	</dict>
</array>
</plist>
