<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Mask</key>
		<string>MCT</string>
		<key>VeldMaskId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Mask</key>
		<string>MCU</string>
		<key>VeldMaskId</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Mask</key>
		<string>MR</string>
		<key>VeldMaskId</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>Mask</key>
		<string>MR1</string>
		<key>VeldMaskId</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>Mask</key>
		<string>MR2</string>
		<key>VeldMaskId</key>
		<integer>9</integer>
	</dict>
</array>
</plist>
