<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Naam</key>
		<string>Auto</string>
		<key>VoertuigSoortId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Vrachtwagen</string>
		<key>VoertuigSoortId</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Scooter</string>
		<key>VoertuigSoortId</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Tractor</string>
		<key>VoertuigSoortId</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Caravan</string>
		<key>VoertuigSoortId</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Camper</string>
		<key>VoertuigSoortId</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Motorfiets</string>
		<key>VoertuigSoortId</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Oplegger</string>
		<key>VoertuigSoortId</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Brommer</string>
		<key>VoertuigSoortId</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Heftruck &amp; Shovel</string>
		<key>VoertuigSoortId</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Aanhangwagen</string>
		<key>VoertuigSoortId</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Vouwwagen</string>
		<key>VoertuigSoortId</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Lijnbus</string>
		<key>VoertuigSoortId</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>ATV</string>
		<key>VoertuigSoortId</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>Naam</key>
		<string>Brommobiel</string>
		<key>VoertuigSoortId</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
