<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>item</key>
		<string>Gewicht</string>
		<key>title</key>
		<string>Deuren Kleur gewicht</string>
		<key>title_active</key>
		<string>NO</string>
		<key>x</key>
		<integer>480</integer>
		<key>y</key>
		<integer>190</integer>
		<key>width</key>
		<integer>130</integer>
		<key>block</key>
		<integer>9</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>22</string>
	</dict>
	<dict>
		<key>item</key>
		<string>Airco</string>
		<key>title</key>
		<string>Airco Icoo lpg</string>
		<key>title_active</key>
		<string>YES</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>235</integer>
		<key>width</key>
		<integer>130</integer>
		<key>block</key>
		<integer>7</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>123</string>
	</dict>
	<dict>
		<key>item</key>
		<string>Icoo</string>
		<key>title</key>
		<string>Airco Icoo lpg</string>
		<key>title_active</key>
		<string>NO</string>
		<key>x</key>
		<integer>340</integer>
		<key>y</key>
		<integer>235</integer>
		<key>width</key>
		<integer>130</integer>
		<key>block</key>
		<real>3.6</real>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>101</string>
	</dict>
	<dict>
		<key>item</key>
		<string>lpg</string>
		<key>title</key>
		<string>Airco Icoo lpg</string>
		<key>title_active</key>
		<string>NO</string>
		<key>x</key>
		<integer>480</integer>
		<key>y</key>
		<integer>235</integer>
		<key>width</key>
		<integer>130</integer>
		<key>block</key>
		<real>3.6</real>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>102</string>
	</dict>
	<dict>
		<key>item</key>
		<string>Motortype</string>
		<key>title</key>
		<string>Motortype:</string>
		<key>title_active</key>
		<string>YES</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>280</integer>
		<key>width</key>
		<integer>270</integer>
		<key>block</key>
		<integer>10</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>17</string>
	</dict>
	<dict>
		<key>item</key>
		<string>Inhoud</string>
		<key>title</key>
		<string>Inhoud Kleppen Kw:</string>
		<key>title_active</key>
		<string>YES</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>325</integer>
		<key>width</key>
		<integer>85</integer>
		<key>block</key>
		<integer>12</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>18</string>
	</dict>
	<dict>
		<key>item</key>
		<string>Kleppen</string>
		<key>title</key>
		<string>Kleppen:</string>
		<key>title_active</key>
		<string>NO</string>
		<key>x</key>
		<integer>293</integer>
		<key>y</key>
		<integer>325</integer>
		<key>width</key>
		<integer>85</integer>
		<key>block</key>
		<integer>12</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>121</string>
	</dict>
	<dict>
		<key>item</key>
		<string>Versnellingsbak</string>
		<key>title</key>
		<string>Versbak Aandr. code</string>
		<key>title_active</key>
		<string>YES</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>370</integer>
		<key>width</key>
		<integer>125</integer>
		<key>block</key>
		<integer>7</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>231</string>
	</dict>
	<dict>
		<key>item</key>
		<string>Aandrijving</string>
		<key>title</key>
		<string>Aandrijving:</string>
		<key>title_active</key>
		<string>NO</string>
		<key>x</key>
		<integer>333</integer>
		<key>y</key>
		<integer>370</integer>
		<key>width</key>
		<integer>138</integer>
		<key>block</key>
		<integer>10</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>36</string>
	</dict>
	<dict>
		<key>item</key>
		<string>BPMBasis</string>
		<key>title</key>
		<string>Code:</string>
		<key>title_active</key>
		<string>NO</string>
		<key>x</key>
		<integer>480</integer>
		<key>y</key>
		<integer>370</integer>
		<key>width</key>
		<integer>269</integer>
		<key>block</key>
		<integer>12</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>24</string>
	</dict>
	<dict>
		<key>item</key>
		<string>ARNTag</string>
		<key>title</key>
		<string>Motornummer:</string>
		<key>title_active</key>
		<string>YES</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>505</integer>
		<key>width</key>
		<integer>269</integer>
		<key>block</key>
		<integer>12</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>24</string>
	</dict>
	<dict>
		<key>item</key>
		<string>ARNTag</string>
		<key>title</key>
		<string>Motornummer:</string>
		<key>title_active</key>
		<string>YES</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>605</integer>
		<key>width</key>
		<integer>269</integer>
		<key>block</key>
		<integer>12</integer>
		<key>function</key>
		<integer>1</integer>
		<key>VeldId</key>
		<string>24</string>
	</dict>
</array>
</plist>
